{% assign T = site.data.i18n[site.active_lang] %}
{% assign contact = include.contact %}

<div class="contact">
  {% if contact.email and contact.email != "" %}
    <div class="contact-email">
      <strong>{{ T.contact.email | default: "Email:" }}</strong>
      <a href="mailto:{{ contact.email }}">{{ contact.email }}</a>
    </div>
  {% endif %}
  {% if contact.phone and contact.phone != "" %}
    <div class="contact-phone">
      <strong>{{ T.contact.phone | default: "Phone:" }}</strong>
      {{ contact.phone }}</div>
  {% endif %}
  {% if contact.fax and contact.fax != "" %}
    <div class="contact-fax">
      <strong>{{ T.contact.fax | default: "Fax:" }}</strong>
      {{ contact.fax }}</div>
  {% endif %}
  {% if contact.address and contact.address != "" %}
    <div class="contact-address">
      <strong>{{ T.contact.address_label | default: "Address:" }}</strong>
      {{ T.contact.address | default: contact.address }} {% if contact.map_link %}<a href="{{ contact.map_link }}" target="_blank" rel="noreferrer">{{ T.contact.view_map | default: "(View Map)" }}</a> {% endif %}
    </div>
  {% endif %}
</div>